@page "/fetchdata"
@using ClearMeasure.OnionDevOpsArchitecture.Core
@using ClearMeasure.OnionDevOpsArchitecture.Core.Features.BrowseExpenseReports
@using ClearMeasure.OnionDevOpsArchitecture.Core.Model
@inject Bus Bus;

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (reports == null)
{
    <p><em>Loading reports...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Number</th>
                <th>Title</th>
                <th>Description</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var report in reports)
            {
                <tr>
                    <td>@report.Number</td>
                    <td>@report.Title</td>
                    <td>@report.Description</td>
                    <td>@report.Status</td>
                </tr>
            }
        </tbody>
    </table>
}


@functions {
    ExpenseReport[] reports;

    protected override async Task OnInitAsync()
    {
        reports = Bus.Send(new ListExpenseReportsCommand());
    }
}
